EADotnetWebapiAddIn/bin
EADotnetWebapiAddIn/obj
EADotnetWebapiCli/bin
EADotnetWebapiCli/obj
EADotnetWebapiCliTest/bin
EADotnetWebapiCliTest/obj
EADotnetWebapiInstaller/Output

*.code-workspace
.vs
packages