EADotnetWebapiAddIn/bin
EADotnetWebapiAddIn/obj
EADotnetWebapiCli/bin
EADotnetWebapiCli/obj
EADotnetWebapiCliTest/bin
EADotnetWebapiCliTest/obj
EADotnetWebapiInstaller/dist
EADotnetWebapiInstaller/dist 
*.code-workspace
.vs
packages