EADotnetAngularAddIn/bin
EADotnetAngularAddIn/obj
EADotnetAngularCli/bin
EADotnetAngularCli/obj
EADotnetAngularCliTest/bin
EADotnetAngularCliTest/obj
EADotnetAngularInstaller/Output

*.code-workspace
.vs
packages